<h1  style="font-weight: bold; font-style: italic;" > Welcome to Libraby Management System</h1>
<strong>You are in   <span style="color: green; font-weight: bold; font-style: italic; font-size: 40px;">Home</span>   page</strong>
 